@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Libre+Baskerville:ital@1&family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?família=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');

body {
  font-family: 'Arvo', sans-serif;
}

/* --------------------------------------------------header------------------------------------------------------------------------*/
header {
  width: 100%;
  background: #015641;
  padding: 1.3em 0;
}

.logo {
  width: 12.5em;
  padding: 0 9.4em;
}

nav {
  position: absolute;
  top: 6.9em;
  padding-right: 12em;
  right: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  display: inline;
  margin-left: 3em;
}

nav a {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

nav a:hover {
  color: #D2691E;
  text-decoration: underline;
}

.caixa {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.linkMapa {
  display: inline;
  text-decoration: none;
}

.iconeMapa {
  height: 30px;
}

.iconeMapa:hover {
  cursor: pointer;
  /*Aumenta o tamanho do elemento mantendo sua proporção*/
  transform: scale(1.2);
  transition: 0.2s all;
}

/*---------------------------------------------------Conteúdo Principal---------------------------------------------------------*/

main {
  width: 100%;
  margin: 0 auto;
}

/*Animação do titulo "Fazenda Recanto Grande"*/
.imagem-principal {
  position: relative;
}

.imagem-folhas {
  width: 100%;
}

.titulo-principal, .titulo-secundario {
  font-family: 'Libre Baskerville', sans-serif;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /*Foi usado para centralizar o titulo em relação a imagem principal*/
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6); /*Adiciona uma sombra no texto*/
  opacity: 0;
  animation-name: fade; /*Define o nome da animação que será criada usando Keyframes*/
  animation-duration: 1s;
  animation-delay: 0.5s; /*Indica que a animação começará após meio segundo*/
  animation-fill-mode: forwards; /*O elemento mantém as alterações feitas pela animação ao final dela*/
  z-index: 1; /*Informa que o titulo deve ficar na sobreposto em relação a imagem*/
}

.titulo-secundario {
  font-family: 'Arvo', sans-serif;
  top: 60%;
  font-size: 2em;
}

/*Faz o titulo aparecer gradualmente*/
@keyframes fade {
  0% {
    opacity: 0; /*Indica que no começo da animação o titulo ficará transparente*/
  }

  100% {
    opacity: 1; /*Após o final da animação o título ficará totalmente visível*/
  }
}

.titulo {
  font-size: 30px;
  margin-top: 10px;
  padding-bottom: 50px;
  text-transform: uppercase; /*Deixa as letras maiúsculas*/
  text-align: center;
}

#frasePrincipal {
  padding-bottom: 70px;
  line-height: 30px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}


/*Mensagem de cookies*/
.mensagem-cookies {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  display: none;
  z-index: 3;
}

.mensagem-cookies button {
  margin-top: 30px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

/*Texto e imagem sobre a fazenda */
.texto {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
  width: 500px;
  height: 600px;
  padding: 40px;
  margin-left: 600px;
  max-width: 100%;
  background: linear-gradient(to bottom, #C6E4C4, #6DD08A);
  position: relative;
  left: 10%;
  bottom: 650px;
  z-index: 2;
}

.imagem-cafeComSol {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
  width: 600px;
  height: 650px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /*Ajusta a imagem para a largura de 600px e altura de 650px*/
  position: relative;
  margin-left: 400px;
  z-index: 1;
  top: 100px;
}

.principal {
  margin-top: 50px;
  height: 1100px;
}

.principal p {
  font-size: 20px;
  line-height: 1.3em;
  margin-bottom: 1em;
  text-align: justify;
}

/*Animação com os tópicos referentes aos valores e objetivos da fazenda*/
.valores strong {
  font-weight: bold;
}

.valores p {
  display: inline-block;
  line-height: 1.5em;
  vertical-align: top;
  text-align: justify;
  width: 22%;
  padding: 30px 30px;
}

.valores {
  font-size: 20px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out; /*Controla a opacidade do elemento variando de 0 a 1, durante o.3 segundos. "ease-in-out" significa que a transição terá uma aceleração suave no início e no final*/
}

.valores:hover {
  opacity: 0.8;
}

.valores:hover p {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Animação das palvras "Arábica" e "conilon"*/
.animacao-letras {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
  padding-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
}

.letra {
  transition: 0.4s;
  transform: translateX(0);
  cursor: grab;
  color: black;
}

.letra:hover {
  transform: translateY(-1rem);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(120deg, hsl(19, 90%, 52%), hsl(56, 100%, 50%));
}


/*Imagens sobre os tipos de grãos*/
.tipo-graos {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding-left: 11%;
  padding-bottom: 100px;
}


.imagem-texto {
  position: relative;
  display: inline-block;
}

.texto-graos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Define a cor de fundo para escurecer a imagem */
  opacity: 0;
  /* Inicialmente, o texto está invisível */
  transition: opacity 0.3s ease;
  /* Adiciona uma transição suave */
  text-align: justify;
  border-radius: 30px;
}

.texto-graos p {
  color: white;
  font-size: 22px;
  margin: 40px;
  text-indent: 2em;
  line-height: 1.2em;
}

.imagem-texto:hover .texto-graos {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  border-radius: 30px;
}


.imagem-graos {
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
}


/*Galeria de imagens*/
.galeria-imagens {
  display: flex;
  height: 15rem;
  gap: 1rem;
  padding: 20px 200px;
}

.galeria-imagens>div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.galeria-imagens>div:hover {
  flex: 5;
}

/*------------------------------------------------------------------footer-----------------------------------------------------------------*/
footer {
  text-align: center;
  background-color: #015641;
  padding: 10px 0;
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  padding-bottom: 15px;
}