/*Descrição: Esta aplicação gerencia a produtividade de áreas de produção de café em uma fazenda ao longo de 10 safras. Com um filtro de safra, o usuário pode visualizar informações em uma tabela sobre as áreas e suas produções em cada safra. Além disso, é possível identificar as áreas com maior e menor produtividade na safra. A aplicação também permite que o usuário insira um valor para ver quais áreas tiveram a produção média menor que esse valor informado. Por fim, há um filtro de busca para exibir informações específicas da área pesquisada em todas as safras.

Tema: Gerenciamento das Áras de Produção de uma Fazenda de Café

Versão: 1.0

Período de desenvolvimento: 21/06/2023 a 24/07/2023

Autores: Davi dos Reis, Franklin Gonçalves de Andrade, Katiane Maciel do Nascimento, Rafael Capeletti Moráo e Nicolly Cerqueira Lopes Rozado*/

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Libre+Baskerville:ital@1&family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?família=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');

body {
  font-family: 'Arvo', sans-serif;
}

/* --------------------------------------------------header------------------------------------------------------------------------*/
header {
  width: 100%;
  background: #015641;
  padding: 1.3em 0;
}

.logo {
  width: 12.5em;
  padding: 0 9.4em;
}

nav {
  /*O position: absolute é utilizado no elemento <nav> para posicioná-lo de forma absoluta em relação ao seu ancestral que possui position: relative*/
  position: absolute;
  top: 6.9em;
  padding-right: 12em;
  right: 0;
}

nav ul {
  display: flex;   /*Permite que os elementos ul sejam ajustados em linhas ou colunas*/
  align-items: center;   /*Alinha os elementos verticalmente ao centro*/
}

nav li {
  display: inline;
  margin-left: 3em;
}

nav a {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

nav a:hover {
  color: #D2691E;
  text-decoration: underline;
}

.caixa {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.iconeMapa {
  height: 30px;
}

.iconeMapa:hover {
  cursor: pointer;
  /*Aumenta o tamanho do elemento mantendo sua proporção*/
  transform: scale(1.2);
  /*Indica que todas as transições do elemento devem demorar 0.2 s, para que elas ocorram de maneira mais suave*/
  transition: 0.2s all;
}

/*---------------------------------------------------Conteúdo Principal---------------------------------------------------------*/

main {
  width: 100%;
  margin: 0 auto;
}

/*Animação do titulo "Fazenda Recanto Grande"*/
.imagem-principal {
  position: relative;
}

.imagem-folhas {
  width: 100%;
}

.titulo-principal,
.titulo-secundario {
  font-family: 'Libre Baskerville', sans-serif;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3.6em;
  font-weight: bold;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  /*Adiciona uma sombra no texto*/
  opacity: 0;
  animation-name: fade;
  /*Define o nome da animação que será criada usando Keyframes*/
  animation-duration: 1s;
  animation-delay: 0.5s;
  /*Indica que a animação começará após meio segundo*/
  animation-fill-mode: forwards;
  /*O elemento mantém as alterações feitas pela animação ao final dela*/
  z-index: 1;
  /*Informa que o titulo deve ficar na sobreposto em relação a imagem*/
}

.titulo-secundario {
  font-family: 'Arvo', sans-serif;
  top: 60%;
  font-size: 2em;
}

/*Faz o titulo aparecer gradualmente*/
@keyframes fade {
  0% {
    opacity: 0;
    /*Indica que no começo da animação o titulo ficará transparente*/
  }

  100% {
    opacity: 1;
    /*Após o final da animação o título ficará totalmente visível*/
  }
}

.titulo {
  font-size: 30px;
  margin-top: 10px;
  padding-bottom: 50px;
  text-transform: uppercase;
  /*Deixa as letras maiúsculas*/
  text-align: center;
}

#frasePrincipal {
  padding-bottom: 70px;
  line-height: 30px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}


/*Texto e imagem sobre a fazenda */
.imagem-cafeComSol {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
  width: 600px;
  height: 650px;
  object-fit: cover;
  /*Ajusta a imagem para a largura de 600px e altura de 650px*/
  position: relative; 
  transform: translate(50%);
  z-index: 1;
  top: 100px;
}

.texto {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
  width: 500px;
  height: 600px;
  padding: 40px;
  background: linear-gradient(to bottom, #C6E4C4, #6DD08A);
  position: relative;
  left: 5%;
  transform: translate(85%);
  bottom: 650px;
  z-index: 2;
}

.principal p {
  font-size: 20px;
  line-height: 1.3em;
  margin-bottom: 1em;
  text-align: justify;
  text-indent: 2em;
}

.principal {
  margin-top: 50px;
  height: 1100px;
}

/*Animação das palavras "Arábica" e "conilon"*/
.animacao-letras {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
  padding-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
}

.letra {
  transition: 0.4s;
  transform: translateX(0);
  cursor: grab;
  color: black;
}

.letra:hover {
  transform: translateY(-1rem);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(120deg, hsl(19, 90%, 52%), hsl(56, 100%, 50%));
}


/*Imagens sobre os tipos de grãos*/
.cafes {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px; 
}

.tipo-graos {
  display: inline-block;
  margin: 20px;
}

.imagem-texto {
  position: relative;
}

.texto-graos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Define a cor de fundo para escurecer a imagem */
  opacity: 0;
  /* Inicialmente, o texto está invisível */
  transition: opacity 0.3s ease;
  /* Adiciona uma transição suave */
  text-align: justify;
  border-radius: 30px;
}

.texto-graos p {
  color: white;
  font-size: 22px;
  margin: 40px;
  text-indent: 2em;
  line-height: 1.2em;
}

.imagem-texto:hover .texto-graos {
  cursor: pointer;
  opacity: 1;
  border-radius: 30px;
}


.imagem-graos {
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
}

/*Animação com os tópicos referentes aos valores e objetivos da fazenda*/
.valores strong {
  font-weight: bold;
}

.valores p {
  display: inline-block;
  line-height: 1.5em;
  vertical-align: top;
  text-align: justify;
  width: 22%;
  padding: 30px 30px;
}

.valores {
  font-size: 20px;
  text-align: center;
  opacity: 1;
}

.valores:hover p {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/*Galeria de imagens*/
.galeria-imagens {
  display: flex;
  height: 15rem;
  gap: 1rem;
  padding: 20px 190px;
}

.galeria-imagens>div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.galeria-imagens>div:hover {
  flex: 3;
}

/*------------------------------------------------------------------footer-----------------------------------------------------------------*/
footer {
  text-align: center;
  background-color: #015641;
  padding: 10px 0;
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  padding-bottom: 15px;
}