/*Descrição: Esta aplicação gerencia a produtividade de áreas de produção de café em uma fazenda ao longo de 10 safras. Com um filtro de safra, o usuário pode visualizar informações em uma tabela sobre as áreas e suas produções em cada safra. Além disso, é possível identificar as áreas com maior e menor produtividade na safra. A aplicação também permite que o usuário insira um valor para ver quais áreas tiveram a produção média menor que esse valor informado. Por fim, há um filtro de busca para exibir informações específicas da área pesquisada em todas as safras.

Tema: Gerenciamento das Áreas de Produção de uma Fazenda de Café

Versão: 1.0

Período de desenvolvimento: 21/06/2023 a 24/07/2023

Autores: Davi dos Reis, Franklin Gonçalves de Andrade, Katiane Maciel do Nascimento, Rafael Capeletti Moráo e Nicolly Cerqueira Lopes Rozado*/

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Libre+Baskerville:ital@1&family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?família=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');

body {
    font-family: 'Arvo', sans-serif;
}

/*--------------------------------------------Header-----------------------------------------------------------------*/
header {
    width: 100%;
    background: #015641;
    padding: 1.3em 0;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo2 {
    margin: 20px 0 20px 0;
    width: 11%;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin: 0.5em 0;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    padding: 0 20px;
}

nav a:hover {
    color: #D2691E;
    text-decoration: underline;
    cursor: pointer;
}


/*-----------------------------------------------------Páginas de Conteúdo--------------------------------------------------------*/
main {
    width: 100%;
    min-height: 120vh;
}

/*foi usado para colocar margem nas páginas de conteúdo*/
.conteudo-site {
    margin: 0 50px 0 150px;
    min-height: 100%;
    padding: 10px;
}

.conteudo {
    display: none; /*O display: none foi usado para ocultar as divs das páginas de conteúdo*/
    position: relative; /*Foi usado para posicionar o slide de imagens com posição absoluta em relação ao conteúdo*/
}

/*titulo principal que aparece em todas as páginas do conteúdo do site*/
#titulo-conteudo {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 100px 0;
    margin-right: 100px;
}

#titulo-conteudo:hover {
    transform: scale(1.05);
}

h4 {   /*Título Maior produtividade e título Menor produtividade*/
    padding: 20px;
    font-weight: bold;
    font-size: 22px;
}

/*imagens que ficam ao lado direito das páginas*/
.imagem-producao {
    max-width: 90%;
    height: auto;
    float: right;
}

/* select */
#sltSafra {
    margin-bottom: 20px;
    margin-left: 20px;
}

select {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #933f1e;
    color: white;
}

select:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s; /*Indica que as transformações devem ocorrer de maneira suave durante 0.3s*/
}

/*frases que aparecem antes de clicar o select*/
#titulo,
#titulo2 {
    text-align: center;
    margin-top: 3em;
    font-size: 3em;
    color: #9C4931;
    font-weight: bold;
}

strong { /*Foi usado para destacar as palavras safra e área*/
    color: #D3543F;
}

/*Parágrafos de saída*/
.paragrafoSaida,
label,
main p {
    padding: 40px 20px 20px 20px;
    line-height: 1.7em;
    font-size: 19px;
}

.paragrafoSaida {
    color: #D3543F;
    font-size: 23px;
}

/*Botões dos parágrafos de saída */
.button {
    margin-left: 10px;
    padding: 8px 10px;
    font-size: 13px;
    background-color: #fda172;
    color: #333;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;  /*Letras maiúsculas*/
    transition: 0.5s all;  /*Todas as transformações devem ocorrer de forma suave durante 0.5s*/
    font-family: Verdana, Tahoma, sans-serif;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s all;
    background: #f8844a;
}

.button:active {
    transition: 0.2s all;
    background: #fd9a69;
}

/*caixinha do input de busca*/
#inMedia,
.inBarraPesquisa {
    padding-right: 4px;
    margin: 0 4px;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    color: #333;
}

/*Tabela da página de produção*/
#tabela {
    width: 90%;
    margin: 50px 0 0 20px;
    table-layout: fixed;
}

.tabela {
    width: 60%;
    margin: 60px 0 0 20px;
    table-layout: fixed;  /*Coloca a mesma largura para todas as colunas*/
}

th,
td {
    padding: 8px 15px;
    text-align: center;
    border: 5px double black;
}

th {
    background-color: #c0633a;
    font-weight: bold;
}

tr {
    background-color: #f5deb3;
}

tr:hover {
    background-color: #de9967;
}

/*slide de imagens da página "Maior produtividade"*/
.slide-imagens {
    position: absolute; /*Posição absoluta em relação á classe "conteudo"*/
    border-radius: 20px;
    width: 500px; 
    height: 300px; 
    overflow: hidden; /*é utilizada para esconder qualquer conteúdo que ultrapasse os limites do slide.*/
    position: absolute;
    transform: translate(170%, -10%);   /*define a posição que o slide irá ocupar*/
}

.imagens-lavoura {
    width: 100%;
    height: 100%;
    display: flex;
    animation: slide-animation 20s infinite;
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Foi usado para que as imagens ocupem todo o espaço disponivel, mas sem perder a proporção*/
}

@keyframes slide-animation {

    0%,
    100% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-400%);
    }
}

/*--------------------------------------------------------footer-------------------------------------------------------------------------*/
footer {
    text-align: center;
    background-color: #015641;
    padding: 10px 0;
}

.logo {
    padding: 0 0 10px 0;
    height: 12.5em;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    padding-bottom: 15px;
}